# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "1"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/sources/poky \
  ##OEROOT##/sources/meta-openembedded \
  ##OEROOT##/sources/meta-ugoos \
  ##OEROOT##/sources/meta-kodi \
  ##OEROOT##/sources/meta-meson \
  "
